@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #2980b9;
}

#header {
  text-align: center;
  margin-bottom: 50px;
}

#logg_inn {
  text-align: center;
  display: block;
}

#registrer_deg {
  text-align: center;
  display: none;
}

#logg_inn_knapp {
  text-align: center;
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background: #2c3e50;
  color: #95a5a6;
  font-weight: bolder;
  cursor: pointer;

  margin-top: 5px;
  width: 200px;
  height: 50px;
}

#registrer_deg_knapp {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background: #2c3e50;
  color: #95a5a6;
  font-weight: bolder;
  cursor: pointer;

  margin-top: 5px;
  width: 200px;
  height: 50px;
}
