/* ANIMASJONER */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.fadein {
  animation: fadein 1s both;
}

.fadeout {
  animation: fadeout 1s both;
}


/* STIL */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

#meny {
    background-color: #2980b9;
    overflow: hidden;
    padding-left: 10%;
}

#meny_profil {
    background-color: #e74c3c;
    overflow: hidden;
    padding-right: 2%;
    opacity: 0;
}

#meny_profil a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

#meny a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

#meny a:first-child {
  float: right;
  padding-right: 4%;
}

#opp {
  opacity: 0;
}

#ned {
  opacity: 1;
}
