/* ANIMASJONER */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.fadein {
  animation: fadein 1s both;
}

.fadeout {
  animation: fadeout 1s both;
}

#opp {
  opacity: 0;
}

#ned {
  opacity: 1;
}

/* STIL */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

#meny {
    background-color: #2980b9;
    overflow: hidden;
    padding-left: 10%;
}

#meny_profil {
    background-color: #e74c3c;
    overflow: hidden;
    padding-right: 2%;
    opacity: 0;
}

#meny_profil a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

#meny a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

#meny a:hover {
  background-color: #3498db;
}

#meny a:first-child {
  float: right;
  margin-right: 4%;
}

#legg_ut_post {
  float: left;
  display: block;
  margin-left: 11%;
  width: 34%;
  height: 70%;
}

#legg_ut_post h3, h4,
#post_oversikt h3 {
  text-align: center;
}

#legg_ut_post input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#legg_ut_post textarea {
  resize: vertical;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#post_oversikt {
  float: right;
  display: block;
  margin-right: 11%;
  width: 34%;
  height: 500px;
  overflow-y: scroll;
}

#kontakter {
    overflow-y: scroll;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 78%;
}

#kontakter h4 {
    text-align: left;
}

#usynlig_strek {
    clear: both;
}

.enkel_post {
  border-bottom: 2px dashed #3498db;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.enkel_kontakt {
    width: 90%;
    background-color: #ecf0f1;
    border: 2px solid #7f8c8d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.kontakt_tekst {
    float: left;
    padding-left: 15px;
}

.kontakt_tekst h4 {
    font-size: 20px;
}

.kontakt_tekst h5 {
    font-size: 14px;
}

.kontakt_bilde {
    float: left;
}

.kontakt_bilde img {
    height: 150px;
    width: 140px;
}


/* PROFIL.PHP */
#endre_bilde {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 100px;
}
